/* Hero Section */
.hero-section {
    border-radius: 30px;
    margin-top: 100px;
    position: relative;
    width: 95vw;
    min-height: 820px;
    background-size: cover;
    background-position: center;
    background-color: #ff2626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }
  
  /* Wrapper for sliding content */
  .hero-wrapper {
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .hero-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hero slide styles */
  .hero-slide {
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
  }
  
  /* Hero content inside each slide */
  .hero-content {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .hero-slide:hover .hero-content {
    opacity: 1;
    visibility: visible;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .hero-content button {
    background-color: #ff4747;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .hero-content button:hover {
    background-color: #ff2626;
  }
  
  
  