/* Navbar container */
.navbar {
  background-color: #191d26;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Flex container for links */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 30px; /* Reduced space between items on desktop */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  padding: 5px 0;
  transition: all 0.4s ease;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff4747;
  left: 0;
  bottom: 0;
  transition: width 0.4s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
  color: #ff4747;
  transform: scale(1.1);
}

/* Logout button styles */
.navbar .logout-button {
  background-color: #ff4747;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.navbar .logout-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: #e63939;
  transition: all 0.4s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
}

.navbar .logout-button:hover::before {
  width: 0;
  height: 0;
  opacity: 1;
}

.navbar .logout-button:hover {
  color: white;
  transform: translateY(-3px);
  background-color: #e63939;
  box-shadow: 0 6px 12px rgba(255, 71, 71, 0.5);
}

/* Mobile button for toggling menu */
.navbar .menu-toggle {
  display: none;
  background: #ff4747;
  color: white;
  border: none;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto; /* Center the button */
}

.navbar .menu-toggle:hover {
  background-color: #e63939;
}

/* Mobile navbar styles */
.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Hide menu on mobile */
.navbar .nav-links {
  display: flex;
}

/* Show menu on mobile */
.navbar .nav-links.show {
  display: block;
}

@media (max-width: 768px) {
  /* Change the layout on mobile */
  .navbar ul {
    display: none; /* Hide menu items */
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar .menu-toggle {
    display: block;
  }

  .navbar .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar .nav-links.show {
    display: block;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar .logout-button {
    margin-top: 20px;
  }
}
