.seriespage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 30px; /* Space between sections */
  padding: 20px; /* Padding for the entire page */
}


.seriespage h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff; /* Adjust based on your theme */
  text-align: center; /* Center-align section titles */
}

.search-results {
  margin-top: 20px;
}

.search-results h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Glowing Text Effect for Headers */
h1, h3 {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Glowing text effect */
}

