/* Global Reset */@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body and Root Styles */
/* Body and Root Styles */
html, body {
  height: 100%;
  width: 100%;
  background-color: #12151c;
  font-family: 'Advent Pro', sans-serif; /* Apply the font here */
  color: #f4f4f4; /* Set text color to ensure visibility on dark background */
}


#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Apply to the entire document or specific element */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background for the track */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4747; /* Red color for the scrollbar thumb */
  border-radius: 10px;
  border: 2px solid #1a1a1a; /* Dark border for contrast */
  box-shadow: 0 0 10px rgba(255, 71, 71, 0.8); /* Glowing effect */
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Handle on hover (intensify the glow) */
::-webkit-scrollbar-thumb:hover {
  background: #e43f3f; /* Slightly darker red */
  box-shadow: 0 0 20px rgba(255, 71, 71, 1); /* Stronger glow on hover */
}

